@import url("https://fonts.googleapis.com/css2?family=Outfit:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
}

body {
  font-family: Outfit, Verdana, Geneva, Tahoma, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.active hr {
  @apply block;
}

li .active {
  border-bottom: 2px solid #5f6fff;
}

::-webkit-scrollbar {
  @apply hidden;
}

@media (max-width: 740px) {
  li .active {
    @apply text-white bg-primary;
  }
}
